<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blogsData">Blogs</a></li>
            </ul>
        </nav>
    </header>
    <h1>This is Blog page</h1>
    <ul>
       {{#if data}}
       {{#each data}}
       <li>
        <h1>{{title}}</h1>
        <p>{{content}}</p>
        <a href="/blogsData/{{_id}}">Read</a>
       </li>
       {{/each}}
       {{else}}
       <h4>No blogs found</h4>
       {{/if}}
    </ul>
</body>
</html>